
@{
    ViewBag.Title = "Create";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<h2>Create</h2>
<br />
<input  class="form-control" id="descricao"/>
<br />
<input class="form-control" id="valor"/>
<br />

    <button value="Salvar" id="salvar" class="btn btn-danger">Adicionar</button>

<script src="~/Scripts/Cafdastro.js"></script>